<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style/main.css" />

</head>

<body>

    <div class="header-link">
        <a href="/">Home</a></div>
    <div class="container">
        <% if (product) { %>
        <h2><%= product.title  %></h2>
        <div class="product-image"><img src=<%= product.img_url %> /></div>
        <div class="description">
            <p><%= product.description %></p>
        </div>
        <% } %>
    </div>

</body>

</html>